AAMod.csproj
*.csproj
.vs/AAMod/v15/.suo
*.ide
*.csproj
.vs/AAMod/DesignTimeBuild/.dtbcache
AAMod.csproj.user 
AAMod.sln 
AAMod.csproj.user
.vs/AncientsAwakened/DesignTimeBuild/.dtbcache
.vs/AncientsAwakened/v15/.suo
*.lock
*.ide-shm
*.ide-wal
*.user
*.sln
*.dll
*.pdb
*.CopyComplete
*.cache
*.txt
bin/Debug/AAMod.dll
bin/Debug/AAMod.pdb
